/* SUMMARY
    1. GLOBAL
    2. Header
    3. Main
    Media Queries
    Bootstrap Background Image Fix
*/

/*** 1. GLOBAL ***/

:root {
    --color-dark: #000000;
    --color-light: #FFFFFF;
    --color-accent: #C271FF;
    --font-family: "Source Sans Pro", "Spin-Cycle-OT", arial;

}

body {
    font-family: var(--font-family);
    overflow-x: hidden;
}

.accent-text {
    color: var(--color-accent)
}


/*** 2.  Header ***/
header {
    background-image: url("images/pic_1.jpg"), linear-gradient(to top, #071629 50%, transparent);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover, cover;
    color: white;
    margin-top: 0;
}

    /** Nav Bar **/

.navbar-brand img {
    height: 1.8rem;
}

.nav-item {
    padding: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--color-light);
    font-family: var(--font-family);
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem;
}

.nav-link:hover {
    color: var(--color-accent)!important;
}

    /** Header content **/

.banner {
    font-size: 8rem;
    font-weight: 700;
    line-height: 10rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 0;
}

.underbanner a {
    color: var(--color-light);
    text-decoration: none;
    margin: 0 2rem;
}

.cta-btn {
    margin-top: 2rem;
}

.btn {
    color: var(--color-light);
    background: #C271FF;
}

.btn-shadow {
	filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}
    /** Profiles Section **/

#profiles {
    margin-top: 5rem;
}

.profile {
    max-width: 9.375rem;
    margin: 0 2rem;
}
.profile > img {
    width: 9.375rem;
}
.profile > p {
    font-style: italic;
}

/*** 2.  Main ***/

div.carousel {
    background-color: var(--color-accent);
    color: var(--color-light)!important;
}

.carousel-control-next-icon.light {
	background-image: url(./images/arrow_white_right.png)!important;
}
.carousel-control-prev-icon.light {
	background-image: url(./images/arrow_white_left.png)!important;
}
.carousel-control-next-icon.dark {
	background-image: url(./images/arrow_black_right.png)!important;
}
.carousel-control-prev-icon.dark {
	background-image: url(./images/arrow_black_left.png)!important;
}
.carousel-control-next, .carousel-control-prev {
	opacity: 1 !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	height: 60px !important;
	width: 30px !important;
}




/*============= MEDIA QUERIES =============*/

/* Switch to Tablet view for <=768px */
@media (max-width: 768px) {
    header {
        background-size: 1448.15px 1055px, cover;
    }
    
    .banner {
        font-size: 6rem;
    }
}
/* Swtich to Mobile view for <=576px */
@media (max-width:  576px) {
    .banner {
        font-size: 4rem;
    }
}

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  
  /*-- Fixed Background Image --*/

  .fixed-background {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1000!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  .fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }